body {
    background-color: #eaf5e5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1b5e20;
}

p {
    color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #c8e6c9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1b5e20;
    color: #fff;
}

.menu-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.menu-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;

}

table td {
    padding: 10px;
    border: 1px solid #ccc;
}

table td:first-child {
    width: 25%;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

input[type="submit"] {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 25%;
}

input[type="submit"]:hover {
    background-color: #388e3c;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #1b5e20;
    color: #9a4141;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    color: white;
}

main {
    margin: 50px auto;
    max-width: 800px;
    /* padding: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}