body {
    background-color: #eaf5e5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1b5e20;
}

p {
    color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #c8e6c9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 70%;
}

input[type="submit"] {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 25%;
}

input[type="submit"]:hover {
    background-color: #388e3c;
}

.logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1b5e20;
    color: #fff;
}

.menu-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.menu-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #1b5e20;
    color: #9a4141;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    color: white;
}

table {
    border-collapse: collapse;
    margin: 50px auto;
    width: 99%;
}

th,
td {
    padding: 10px;
    text-align: left;
    background-color: #c8e6c9;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    background-color: #4caf50;
    color: #fff;
}